/* Vetrino font */

@font-face {
  font-family: 'Vetrino';
  src: url('../fonts/Vetrino/Vetrino.woff2') format('woff2'),
       url('../fonts/Vetrino/Vetrino.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Vetrino font */