@font-face {
  font-family: 'Vetrino';
  src: url('../fonts/Vetrino/Vetrino.woff2') format('woff2'),
       url('../fonts/Vetrino/Vetrino.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --inc-step: 1;
  --height: 100vh;
  --x: 0px;
  --y: 0px;
  --relx: 0px;
  --rely: 0px;
  --text-font: 'Montserrat Alternates', sans-serif;
  --title-font: 'Vetrino', sans-serif;
  --bg: #fff;
  --text: #1c1717;
  --text-gray: #c5b8b8;
  --border: #d9d9d9;
  --border-pink: #ffe7e7;
  --pink: #af5954;
  --red: #a20109;
  --error: #d91717;
  --green: #32ad27;
}

/* Dark mode */
.dark {
  --bg: #0f0f0f;
  --text: #f8f8f8;
  --border: #424242;
  --gray-border: #424242;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: var(--text);
  color: var(--bg);
}

*::selection {
  background-color: var(--text);
  color: var(--bg);
}

input::-moz-selection {
  background-color: yellow;
  color: var(--text);
}

input::selection {
  background-color: yellow;
  color: var(--text);
}

*::marker {
  font-size: 0;
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: var(--pink);
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  font-family: var(--text-font);
  font-size: 14px;
  color: var(--text);
  -webkit-tap-highlight-color: transparent;
  background-color: var(--bg);
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: var(--height);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:hover {
  border: none;
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 0 1000px var(--bg) inset;
  color: var(--text);
  box-shadow: 0 0 0 1000px var(--bg) inset;
}

button, button:hover {
  outline: 0;
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

a {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--pink);
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--text);
  text-decoration: none;
}

ul,
p,
div,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--title-font);
  font-size: 50px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.05em;
  color: var(--text);
}

h3,
.product__price {
  font-family: var(--title-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0.05em;
  color: var(--text);
}

h4 {
  font-family: var(--text-font);
  font-size: 31px;
  font-weight: 500;
  line-height: 38px;
  color: var(--text);
}

p,
.footer__bottom_link,
.footer__bottom_flex_link {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--text);
}

.text__big {
  font-family: var(--text-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: var(--text);
}

.header__bottom_link {
  font-family: var(--text-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--text);
}

.footer__top_link {
  font-family: var(--title-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  color: var(--text);
}

.footer__top_address {
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

section {
  margin: -1px 0 0;
  position: relative;
  opacity: 1;
  pointer-events: all;
  background-color: var(--bg);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 60px;
  margin: 0 auto;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  -webkit-transition: visibility 0.3s linear, opacity 0.3s linear, background-color 0.3s linear;
  transition: visibility 0.3s linear, opacity 0.3s linear, background-color 0.3s linear;
}

.overlay.active {
  /* background-color: var(--bg);
  opacity: 0.95; */
  visibility: visible;
}

/* .dark .overlay.active {
  opacity: 0.9;
} */

.top {
  height: 180px;
  width: 100%;
}

/* start buttons */

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 345px;
  height: 70px;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--bg);
  background-color: var(--pink);
  border-radius: 10px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  overflow: hidden;
}

.btn:hover {
  color: var(--pink);
}

.hero__btn {
  background-color: #ffffff4d;
}

.btn span:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  position: relative;
  z-index: 1;
}

.btn span:nth-child(2),
.blockbtn span:nth-child(2) {
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  top: var(--rely);
  left: var(--relx);
  border-radius: 50%;
  background-color: var(--border-pink);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  z-index: 0;
}

.btn:hover span:nth-child(2),
.blockbtn:hover span:nth-child(2) {
  width: 200%;
  height: 800%;
}

/* end buttons */

/* start header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.header.active {
  position: fixed;
  top: -110px;
  left: 0;
}

.header__top {
  background-color: var(--bg);
}

.header__top_container {
  height: 110px;
}

.header__top_container,
.header__left,
.header__right,
.header__right_buttons,
.header__bottom_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header__top_container,
.header__left,
.header__right,
.header__bottom_list {
  gap: 40px;
}

.header__right_buttons {
  gap: 7.5px;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header__logo svg {
  width: 301px;
  height: 56px;  
}

.header__search svg {
  width: 26.09px;
  height: 23.48px;
}

.header__cart svg {
  width: 16.27px;
  height: 18px;
}

.header__favorites svg {
  width: 19.35px;
  height: 18px;
}

.header__personal svg {
  width: 16.15px;
  height: 18px;
}

.header__right_buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--bg);
  background-color: var(--pink);
  position: relative;
}

.header__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 5px;
  font-family: var(--text-font);
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: var(--pink);
  text-align: center;
  background-color: var(--bg);
  border-radius: 50%;
}

.header__top_link {
  font-family: var(--title-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
}

.header__bottom {
  background-color: var(--text);
}

.header__bottom_container {
  height: 70px;
  position: inherit;
}

.header__overflow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__bottom_list {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  gap: 0;
}

.header__bottom_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  background-color: var(--text);
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.header__bottom_item:hover {
  background-color: var(--bg);
}

.header__bottom_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  flex: 0 0 auto;
  align-items: center;
  color: var(--bg);
}

.header__bottom_link svg {
  width: 28px;
  height: 5.6px;
}

.header__bottom_item:hover .header__bottom_link {
  color: var(--text);
}

.header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0px;
  height: 70px;
  margin: 0;
  align-items: center;
  gap: 20px;
  color: var(--bg);
  visibility: hidden;
  -webkit-transition: width .3s linear, visibility 0s, margin .4s;
  transition: width .3s linear, visibility 0s, margin .4s;
  -webkit-transition-delay: 0s, .3s, 0s;
  transition-delay: 0s, .3s, 0s;
  overflow: hidden;
}

.header.active .header__burger {
  width: 105px;
  margin: 0 75px 0 0;
  visibility: visible;
  -webkit-transition-delay: 0s, 0s, 0s;
  transition-delay: 0s, 0s, 0s;
}

.header__burger svg {
  width: 60px;
  height: 20px;
}

.header__burger_button {
  width: 26px;
  height: 26px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.header__burger_button span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--bg);
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform .25s ease-in-out, left .25s ease-in-out, top .25s ease-in-out, width .25s linear, opacity .25s ease-in-out;
  transition: transform .25s ease-in-out, left .25s ease-in-out, top .25s ease-in-out, width .25s linear, opacity .25s ease-in-out;
}

.header__burger_button span:nth-child(1) {
  top: 7.5px;
}

.header__burger_button span:nth-child(2) {
  top: 12px;
}

.header__burger_button span:nth-child(3) {
  width: 16.5px;
  top: 16.5px;
}

.header__burger.active .header__burger_button span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.header__burger.active .header__burger_button span:nth-child(2) {
  opacity: 0;
  left: -26px;
}

.header__burger.active .header__burger_button span:nth-child(3) {
  width: 22px;
  top: 12px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.header__bottom_hover {
  width: 100%;
  max-height: calc(var(--height) - 180px);
  position: absolute;
  top: 180px;
  left: 0;
  z-index: -1;
  background-color: var(--bg);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header.active .header__bottom_hover {
  max-height: calc(var(--height) - 110px);
}

.header__bottom_item:hover .header__bottom_hover {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.header__bottom_sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  flex-wrap: wrap;
  gap: 10px;
}

.header__bottom_subitem {
  width: calc(20% - 8px);
}

.header__bottom_sublink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  position: relative;
  border: 1px solid var(--border);
  border-radius: 10px;
  overflow: hidden;
}

.header__bottom_sublink span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.header__bottom_sublink img {
  width: 60px;
  height: 60px;
  border-radius: 6px;
}

/* end header */

/* start footer */

.footer {
  padding: 60px 0;
  margin: 60px 0 0;
  background-color: var(--text)
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.footer__top_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 60px;
}

.footer__top_link {
  color: var(--bg);
}

.footer__top_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 425px;
  gap: 10px;
}

.footer__logo {
  color: var(--bg);
}

.footer__logo svg {
  width: 300px;
  height: 56px;
}

.footer__top_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  color: var(--bg);
  background-color: var(--pink);
  border-radius: 10px;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.footer__top_button svg {
  width: 33.6px;
  height: 33.6px;
}

.footer__top_button:hover {
  color: var(--pink);
  background-color: var(--border-pink);
}

.footer__btn svg {
  width: 25px;
  height: 20.65px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
}

.footer__bottom_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 845px;
  flex-wrap: wrap;
  gap: 30px;
}

.footer__bottom_link {
  color: var(--text-gray);
}

.footer__bottom_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 425px;
  flex-direction: column;
  gap: 20px;
}

.footer__bottom_flex_link {
  color: var(--bg);
}

.footer__top_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer__top_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__top_address {
  color: var(--bg);
}

/* end footer */

/* start preloader */

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  color: var(--text);
}

.preloader__top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: 1001;
  background-color: #fff;
  -webkit-transition: top 0.3s linear;
  transition: top 0.3s linear;
}

.preloader__bottom {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  z-index: 1001;
  background-color: #fff;
  -webkit-transition: top 0.3s linear;
  transition: top 0.3s linear;
}

.dark .preloader__top,
.dark .preloader__bottom {
  background-color: #000;
}

.preloader__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
  animation: preloader-rotate 2s infinite linear;
  z-index: 1002;
}

.loaded_hiding .preloader__image {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loaded .preloader {
  display: none;
}

/* end preloader */

/* start header__nav */

.header__nav {
  width: 100%;
  height: calc(var(--height) - 70px);
  position: fixed;
  top: 70px;
  left: 0;
  background: var(--bg);
  border-bottom: 1px solid var(--border);
  -webkit-transition: -webkit-transform 1.4s cubic-bezier(0.77, 0, 0.175, 1) 0.15s;
  transition: transform 1.4s cubic-bezier(0.77, 0, 0.175, 1) 0.15s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: 99;
  overflow: hidden;
}

.header__nav.active {
  -webkit-transition: -webkit-transform 1.1s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: transform 1.1s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.header__nav::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.header__nav::-webkit-scrollbar-thumb {
  display: none;
  width: 0;
  background: var(--text);
}

.header__nav_block {
  height: calc(var(--height) - 70px);
  position: relative;
}

.header__nav_container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  min-height: calc(var(--height) - 70px);
  padding: 60px 0;
  flex-direction: column;
  justify-content: center;
  gap: 110px;
}

.header__nav_flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 100%;
}

.header__nav__contact {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 50%;
  padding: 0 50px;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.header__nav_list {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 330px;
  padding: 0 50px;
  margin: 0 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.header__nav_link::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-clip-path: polygon(100% 0, 100% calc(100% - 17px), calc(100% - 24px) 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% calc(100% - 17px), calc(100% - 24px) 100%, 0 100%, 0 0);
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.header__nav_link,
.header__nav_link:hover,
.header__nav_link:active {
  position: relative;
  display: block;
  width: fit-content;
}

.header__nav_link {
  position: relative;
  z-index: 2;
  font-family: var(--text-font);
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

.header__nav_item.active .header__nav_link::before {
  background-color: var(--pink);
}

.header__subnav_list {
  display: none;
}

.header__nav_contact_item:not(:last-child) {
  margin-bottom: 22px;
}

.header__nav_contact_item p {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.header__nav_contact_head {
  font-family: var(--title-font);
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
}

.header__set_block {
  width: 330px;
  padding: 0 50px;
  margin: 0 0 0 auto;
}

.header__set_mode {
  position: relative;
  padding: 3px 50px;
  width: 180px;
  font-family: var(--text-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: var(--text);  
  text-transform: uppercase;
  border: 1px solid var(--border);
}

[data-clr-mode-active="light"] {
  text-align: right;
}

[data-clr-mode-active="light"] [data-clr-mode="dark"],
[data-clr-mode-active="dark"] [data-clr-mode="light"]  {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__set_mode_btn {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  display: none;
  width: 40px;
  height: 40px;
}

.header__set_mode_btn svg {
  width: 16.06px;
  height: 17.51px;
}

.header__set_mode_btn[data-clr-mode="dark"] {
  left: -1px;
  background: var(--pink);
  color: #cfcfcf;
}

.header__set_mode_btn[data-clr-mode="light"] {
  right: -1px;
  background: var(--orange);
  color: #fff;
}

.header__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__nav_bottom_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 60px;
}

.header__nav_bottom_link {
  font-size: 12px;
  font-weight: 700;
}

.header__nav_bottom_link:hover {
  color: var(--pink);
}

.header__nav_burger_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header__nav_burger {
  position: absolute;
  top: 33px;
  right: 33px;
  z-index: 1;
}

/* end header__nav */

/* start hero */

.hero__slider {
  padding: 30px 0;
}

.hero__item {
  border-radius: 10px;
  overflow: hidden;
}

.hero__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 60px;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0.85%, rgba(0, 0, 0, 0) 98.53%);
}

.shop__swiper {
  padding: 0 0 30px;
}

.hero__swiper {
  border-radius: 10px;
  overflow: hidden;
}

.hero__navigation,
.shop__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero__navigation {
  padding: 30px 0 0;
}

.hero__slider .swiper-button-prev,
.hero__slider .swiper-button-next,
.hero__slider .swiper-container-rtl .swiper-button-next,
.hero__slider .swiper-container-rtl .swiper-button-prev,
.shop__slider .swiper-button-prev,
.shop__slider .swiper-button-next,
.shop__slider .swiper-container-rtl .swiper-button-next,
.shop__slider .swiper-container-rtl .swiper-button-prev {
  background-image: none;
}

.hero__slider .swiper-button-next,
.hero__slider .swiper-button-prev,
.shop__slider .swiper-button-next,
.shop__slider .swiper-button-prev {
  position: relative;
  top: auto;
  margin-top: 0;
}

.hero__slider .swiper-button-next,
.hero__slider .swiper-button-prev,
.shop__slider .swiper-button-next,
.shop__slider .swiper-button-prev,
.hero__slider .swiper-button-next svg,
.hero__slider .swiper-button-prev svg,
.shop__slider .swiper-button-next svg,
.shop__slider .swiper-button-prev svg {
  width: 80px;
  height: 24px;
  background-size: 80px 24px;
}

.hero__slider .swiper-pagination,
.shop__slider .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  position: relative;
}

.hero__slider .swiper-pagination-bullet,
.shop__slider .swiper-pagination-bullet {
  width: 25px;
  height: 23.03px;
  background: url('../img/icon/heart.svg') center center no-repeat;
  background-size: 25px 23.03px;
  border-radius: 0;
  opacity: 1;
}

.hero__slider .swiper-pagination-bullet-active,
.shop__slider .swiper-pagination-bullet-active {
  background: url('../img/icon/heart_filled.svg') center center no-repeat;
  background-size: 25px 23.03px;
  opacity: 1;
}

.hero__head,
.hero__desc {
  max-width: 780px;
  color: var(--bg);
}

/* end hero */

/* start card */

.card__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  gap: 20px;
}

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(60% - 10px);
  flex-wrap: wrap;
  gap: 20px;
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(33.333% - 14px);
  height: 345px;
  align-items: flex-end;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.card__link {
  width: 100%;
  height: 100%;
}

.card__item img,
.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__image img {
  position: absolute;
  top: 0;
  left: 0;
}

.card__item img {
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.card__item:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.card__head {
  color: var(--bg);
}

.card__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 30px;
  align-items: center;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.card__image {
  width: calc(40% - 10px);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

/* end card */

/* start incatalog */

.incatalog__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
  gap: 40px;
}

.incatalog__image {
  width: calc(60% - 30px);
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.incatalog__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.incatalog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(40% - 10px);
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}

/* end incatalog */

/* start shop */

.shop__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
  flex-direction: column;
  gap: 30px;
}

.shop__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.shop__desc {
  max-width: 780px;
}

.shop__image {
  height: 600px;
}

.shop__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end shop */

/* start blog */

.blog__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
  flex-direction: column;
  gap: 60px;
}

.blog__flex,
.blog__top,
.blog__item_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.blog__item {
  width: 465px;
  padding: 30px 0;
}

.blog__item_link {
  flex-direction: column;
}

.blog__top,
.blog__heading {
  padding: 0 20px;
}

.blog__name,
.blog__date {
  color: var(--pink);
}

.blog__heading {
  padding: 0 20px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.blog__item_link:hover .blog__heading {
  color: var(--pink);
}

.blog__image {
  width: 100%;
  height: 360px;
  border-radius: 10px;
  overflow: hidden;
}

.blog__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.blog__item_link:hover .blog__image img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* end blog */

/* start product */

.product__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
  flex-direction: column;
  gap: 60px;
}

.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 20px;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--border-pink);
  border-radius: 10px;
  overflow: hidden;
}

.product__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.product__favorites {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--pink);
  z-index: 2;
}

.product__favorites svg {
  width: 40px;
  height: 35.8px;
  fill: transparent;
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.product__favorites:hover svg,
.product__favorites.added svg {
  fill: var(--pink);
}

.product__image_block {
  width: 100%;
  height: 340px;
}

.product__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.product__cart {
  width: 50px;
  height: 50px;
  color: var(--bg);
  background-color: var(--pink);
  border-radius: 10px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  overflow: hidden;
}

.product__cart.added {
  background-color: var(--green);
}

.product__cart svg {
  width: 27px;
  height: 30px;
}

.product__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 340px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.product__slide {
  display: block;
  position: relative;
  margin: 0 2px 0 0;
  height: 100%;
}

.product__slide:before {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--border);
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.product__image.active .product__slide:before {
  background-color: var(--pink);
}

.product__image {
  flex-grow: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  background: 0 0;
  margin-bottom: -4px;
}

.product__images img {
  width: 100%;
  height: 100%;
  padding: 70px 0 50px;
  border-radius: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  vertical-align: middle;
  pointer-events: none;
  opacity: 0;
  object-fit: contain;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.product__image.active img {
  opacity: 1;
}

/* end product */

/* media 1440px */
@media (max-width: 1440px) {
  h1,
  h3 {
    font-size: 37px;
    line-height: 40px;
  }
  .product__price {
    font-size: 29px;
    line-height: 31px;
  }
  h4 {
    font-size: 23px;
    line-height: 28px;
  }
  a,
  p,
  .footer__bottom_link,
  .footer__bottom_flex_link,
  .header__bottom_link {
    font-size: 14px;
    line-height: 17px;
  }
  .btn {
    width: 256px;
    height: 50px;
  }
  .header__top_link,
  .footer__top_link {
    font-size: 14px;
    line-height: 15px;
  }
  .product__heading,
  .footer__bottom_link,
  .footer__top_address {
    font-size: 12px;
    line-height: 15px;
  }
  .header.active {
    top: -80px;
  }
  .header__top_container {
    height: 80px;
  }
  .header__top_container,
  .header__left,
  .header__right,
  .header__right_buttons,
  .header__bottom_list {
    gap: 30px;
  }
  .header__right_buttons {
    gap: 7.5px;
  }
  .header__logo svg {
    width: 215px;
    height: 40px;
  }
  .header__bottom_container,
  .header__bottom_link,
  .header__burger {
    height: 50px;
  }
  .header__bottom_hover {
    max-height: calc(var(--height) - 130px);
    top: 130px;
  }
  .top {
    height: 130px;
  }
  .header__nav {
    height: calc(var(--height) - 50px);
    top: 50px;
  }
  .header__bottom_link svg {
    width: 20px;
    height: 4px;
  }
  .hero__image,
  .incatalog__image,
  .shop__image {
    height: 450px;
  }
  .hero__slider .swiper-pagination-bullet-active,
  .shop__slider .swiper-pagination-bullet-active {
    background-size: 18.74px 17.27px;
    opacity: 1;
  }
  .hero__slider .swiper-pagination-bullet,
  .shop__slider .swiper-pagination-bullet {
    width: 18.74px;
    height: 17.27px;
    background-size: 18.74px 17.27px;
    border-radius: 0;
    opacity: 1;
  }
  .hero__slider .swiper-button-next,
  .hero__slider .swiper-button-prev,
  .shop__slider .swiper-button-next,
  .shop__slider .swiper-button-prev,
  .hero__slider .swiper-button-next svg,
  .hero__slider .swiper-button-prev svg,
  .shop__slider .swiper-button-next svg,
  .shop__slider .swiper-button-prev svg {
    width: 60px;
    height: 20px;
    background-size: 60px 20px;
  }
  .hero__info {
    gap: 30px;
  }
  .card__item,
  .blog__image,
  .product__images,
  .product__image_block {
    height: 260px;
  }
  .incatalog__info {
    gap: 30px;
  }
  .blog__item {
    width: 340px;
    padding: 20px 0;
  }
  .blog__flex,
  .blog__top,
  .blog__item_link {
    gap: 10px;
  }
  .shop__block,
  .blog__block,
  .product__block {
    padding: 30px 0;
    gap: 30px;
  }
  .incatalog__block {
    padding: 30px 0;
    gap: 30px;
  }
  .incatalog__image {
    width: calc(60% - 20px);
  }
  .product__cart {
    width: 40px;
    height: 40px;
  }
  .product__cart svg {
    width: 20px;
    height: 22px;
  }
  .product__item,
  .product__top {
    gap: 10px;
  }
  .footer__top_button {
    width: 50px;
    height: 50px;
  }
  .footer__top_button svg {
    width: 24px;
    height: 24px;
  }
  .footer__top_buttons,
  .footer__bottom_flex {
    width: 315px;
  }
}
/* media 1440px */